{% extends "base.html" %} {% block title %}Главная{% endblock %} {% block content %}
<br />
<h6 style="color: grey" align="right">Email: {{ user.email }}</h6>
<h6 style="color: grey" align="right">ФИО: {{ user.name }}</h6>
<h1 align="center">Заметки</h1>
<br />
<br />
<form method="POST">
  <div class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" name="find" id="find" type="search" placeholder="Поиск" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
  </div>
  <br />
  <div>
    <textarea name="info" id="info" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Добавить заметку</button>
    </div>
  </div>
</form>
<ul class="list-group list-group-flush" id="allinfo">
  {% for info in user.all_info %}
  <li class="list-group-item">
    {{ info.info }}
    <a href="/delete-info/{{ info.id }}" type="button" class="close">
      <span aria-hidden="true">&times;</span>
    </a>
  </li>
  {% endfor %}
</ul>
<br />
{% endblock %}