{% extends "base.html" %} {% block title %}Главная{% endblock %} {% block content %}
<h6 align="right">Email: {{ user.email }}</h6>
<h6 align="right">ФИО: {{ user.name }}</h6>
<h1 align="center">Заметки</h1>
<ul class="list-group list-group-flush" id="allinfo">
  {% for info in user.all_info %}
  <li class="list-group-item">
    {{ info.info }}
    <a href="/delete-info/{{ info.id }}" type="button" class="close">
      <span aria-hidden="true">&times;</span>
    </a>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="info" id="info" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Добавить заметку</button>
  </div>
</form>
{% endblock %}